[submodule "trb"]
	path = trb
	url = git@github.com:khaeru/trb-latex.git
[submodule "gitinfo2"]
	path = gitinfo2
	url = git@github.com:Hightor/gitinfo2.git
	branch = CTAN
[submodule "mtheme"]
	path = mtheme
	url = git@github.com:matze/mtheme.git
[submodule "jp-report"]
	path = jp-report
	url = git@github.com:mit-jp/jp-report-tex.git
[submodule "mitthesis"]
	path = mitthesis
	url = git@github.com:khaeru/mitthesis.git
[submodule "beamer-theme-iiasa"]
	path = beamer-theme-iiasa
	url = git@github.com:iiasa/beamer-theme-iiasa.git
[submodule "pgfplots"]
	path = pgfplots
	url = git@github.com:pgf-tikz/pgfplots
