[submodule "mf/trb"]
	path = mf/trb
	url = git@github.com:khaeru/trb-latex.git
[submodule "mf/gitinfo2"]
	path = mf/gitinfo2
	url = git@github.com:Hightor/gitinfo2.git
	branch = CTAN
[submodule "mf/mtheme"]
	path = mf/mtheme
	url = git@github.com:matze/mtheme.git
[submodule "mf/jp-report"]
	path = mf/jp-report
	url = git@github.com:mit-jp/jp-report-tex.git
[submodule "mf/mitthesis"]
	path = mf/mitthesis
	url = git@github.com:khaeru/mitthesis.git
[submodule "mf/beamer-theme-iiasa"]
	path = mf/beamer-theme-iiasa
	url = git@github.com:iiasa/beamer-theme-iiasa.git
[submodule "mf/pgfplots"]
	path = mf/pgfplots
	url = https://github.com/pgf-tikz/pgfplots
